html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

header{
    background-color: #008b55;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 174px;
}

body {
    padding:0;
    margin:0;
}

#sesion{
    background-color: #005433;
    width: 100%;
    height: 40px;
    max-width: 100%;
}

#logoBusqueda{
    background: linear-gradient(#005433,#008b55);
    width: 100%;
    height: 134px;
    max-width: 100%;
}

#camionTexto{
    float:left;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    max-width:50%;
}

.imgCamion{
    height: 40px;
    vertical-align: middle;
    opacity:0.5;
}

#camionTexto span{
    padding: 0px 1.333% 0;
    font-family: Oswald-Light;
    color:white;
}

#menuIdentificarCarrito{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    max-width:50%;
}

.imgUsuario,.carritoCompra{
    float:right;
    height: 28px;
    padding-top: 5px;
    opacity:0.5;
}

.imgUsuario{
    padding-right: 1%;
}

.carritoCompra{
    margin-right: 25%;
}

.contenidoCarrito{
     display: none;
     position:absolute;
     top: 40px; 
     left:65%;
     font-family: Oswald-Light;
     color:white;
     width: 35%;  
     z-index: 5; 
     background-color: #005433; 
     position:absolute;
}

.finalizarCompra{
    text-align: center;
}

.imgProductoCarrito{
    width: 75px;
    height: 75px;
    vertical-align: top;
}

.linkIdentificar{
    font-family: Oswald-Light;
    color:white;
    margin-right: 30%;
    float:right;
    height: 28px;
    margin-top: 5px;
}

.loginUsuario{
    display: none;
    position: absolute;
    top: 40px;
    left: 51%;
    font-family: Oswald-Light;
    color: white;
    width: 32%;
    z-index: 5;
    background-color: #005433;
}

input.user {
    width: 83%;
    padding: 10px 10px 10px 45px;
    background: rgba(23, 24, 25, 0.29) url("../images/user.png") no-repeat 10px 10px;
    border: 1px solid #7B7474;
    border-radius: 5px;
    font-family: Oswald-Light;
    font-size: 18px;
    color: #FFF;
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
input.pass {
    width: 83%;
    padding: 10px 10px 10px 45px;
    background: rgba(23, 24, 25, 0.29) url("../images/pass.png") no-repeat 11px 10px;
    border: 1px solid #7B7474;
    border-radius: 5px;
    font-family: Oswald-Light;
    font-size: 18px;
    color: #FFF;
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

#error {
    color: red;
    font-family: Oswald-Regular;
    text-align: center;
    background-color: rgba(255,235,59,0.7);
    border-radius: 10px;
}

#logo{
    float:left;
    display: inline-block;
    width: 50%;
    max-width:50%;
}

.imgLogo{
    width: 76%;
    height: 100px;
    padding-top: 3%;
    padding-left: 23.5%;
}

#buscador input[type="search"]{
    float: right;
    margin-top: 3.5%;
    margin-right: 12%;
    width: 34%; /*ancho por defecto*/
    background: #ededed url('http://image.flaticon.com/icons/png/128/49/49116.png') no-repeat 9px center; /*icono lupa*/
    background-size: 15px 15px;
    padding: 9px 10px 9px 32px;
    border-radius: 15em;
    outline: none;
}

.galeria {
    width: 100%;
    height:60%;
    margin:0;
    margin-top:1.6%;
    overflow: hidden;
}

.galeria ul{
    display: flex;
    padding:0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
    -webkit-animation: cambio 20s infinite alternate linear;
    -ms-animtion:cambio 20s infinite alternate linear;
}

.galeria li{
    width: 100%;
    list-style: none;
}

.galeria img{
    width: 100%;
    height: 60%;
}

@keyframes cambio{
    0% { margin-left:0;}
    20% { margin-left:0;}
    25% { margin-left:-100%;}
    45% { margin-left:-100%;}
    50% { margin-left:-200%;}
    70% { margin-left:-200%;}
    75% { margin-left:-300%;}
    100% { margin-left:-300%;}
}

@-webkit-keyframes cambio{
    0% { margin-left:0;}
    20% { margin-left:0;}
    25% { margin-left:-100%;}
    45% { margin-left:-100%;}
    50% { margin-left:-200%;}
    70% { margin-left:-200%;}
    75% { margin-left:-300%;}
    100% { margin-left:-300%;}
}

#productos{   
    float: right; 
    width: 70%;
    margin-top: -17%;
    margin-bottom: 1%;
}
.productoIndividual{
    padding-bottom: 5%;
    width: 310px;
    text-align: center;
    display: inline-block;
}

#productos img{
    width: 200px;
    height: 200px;
}

.nombreProducto{
    font-size: 1.5rem;
    font-family: Oswald-Regular;
}

.precioProducto{
    font-size: 2rem;
    font-family: Oswald-Light;
}

#menuResponsive{
    display:inline-block;
}

#btn-menu{
    display:none;
}

header label{
    display:inline-block;
    display:none;
    width: 30px;
    padding: 5px;
    padding-bottom: 1%;
}

header label:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

.menu ul{
    margin:0;
    list-style: none;
    padding: 0;
    display:flex;
}

.menu li:hover{
    background-color: rgba(0,0,0,0.3);
}
.menu li a {
    display:none;
    padding:15px 28px;
    color:#fff;
    text-decoration: none;
}

#menuResponsive2{
    display:inline-block;
    width: 100%;
    background-color:#87b82e; 
}

#btn-menu2{
    display:none;
}

.menu2 ul{
    margin:0;
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: center;
}

.menu2 li:hover{
    background-color: rgba(0,0,0,0.3);
}
.menu2 li a {
    display:block;
    padding:7px 30px;
    color:#fff;
    font-family: Oswald-Light;
    text-decoration: none;
}

footer{
    background: linear-gradient(#008b55,#005433);;
    margin:0;
    padding: 0;
    border: 0;
    display:flex;
    width: 100%;
    height: 86px;
}

footer ul{
    list-style:none;
    display:flex;
}

footer li {
    margin:0 0 1px 1px;
    height:57px;
    width:57px;
    border-radius: 50%;
    list-style:none;
    float:left;
    padding:0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out; 
    transition: all 0.4s ease-in-out;
}

footer li a {
    width:57px;
    display: block;
    margin:0px;
    padding:0;
}

footer .email{
    background: #aaa url(//lh5.googleusercontent.com/-H4iUybdCAyU/U4vC1yQWu1I/AAAAAAAALLE/fTpR7eN4cIw/s114/icon-rssmail.png) no-repeat;
}
footer .twitter{
    background: #aaa url(//lh6.googleusercontent.com/-4TshwJW7hIE/U4vC2JM25AI/AAAAAAAALLI/tcIkpheXrYU/s114/icon-twitter.png) no-repeat;
}
footer .facebook{
    background: #aaa url(//lh5.googleusercontent.com/-nt-UdZG1ns0/U4vC1v57lwI/AAAAAAAALLQ/pAOWjEBSnSg/s114/icon-facebook.png) no-repeat;
}
footer .google{
    background: #aaa url(//lh6.googleusercontent.com/-brT53y4GgMs/U4vC1UPpmFI/AAAAAAAALK8/vRxosS7GGKs/s114/icon-gplus.png) no-repeat;
}

footer .facebook:hover{
    background-position:center -57px; 
    background-color: #37589b;
}
footer .twitter:hover {
    background-position:center -57px; 
    background-color: #46d4fe;
}
footer .google:hover {
    background-position:center -57px;
    background-color: #de5a49;
}
footer .email:hover{
    background-position:center -57px;
    background-color: #ff6600;
}
footer .iconrssmail:hover{
    background-position:center -57px;
    background-color: #FFDE00;
}

footer .informacion{
    float: right;
    width: 100%;
    padding-left: 5%;
    display: inline-block;
}
footer .numTel {
    float: right;
    margin-top:5%;
    margin-right: 18%;
}

footer .direccion{
    float: right;

}

@media screen and (max-width:1100px) {
    .imgLogo {
        width: 76%;
        height: 84px;
        padding-top: 6%;
        padding-left: 23.5%;
    }
    #buscador input {
        float: right;
        padding-right: 34%;
        margin-right: 15%;
        margin-top: 11%;
    }
    
    #buscador input[type="search"]{
        margin-top: 4.5%;
        float: right;
        margin-right: 12%;
        width: 34%; /*ancho por defecto*/
        background: #ededed url('http://image.flaticon.com/icons/png/128/49/49116.png') no-repeat 9px center; /*icono lupa*/
        background-size: 15px 15px;
        padding: 9px 10px 9px 32px;
        border-radius: 15em;
        outline: none; /* ocultar el fucos automático de los input */
    }
}

@media screen and (max-width:850px) {
.imgLogo {
    width: 82%;
    height: 76px;
    padding-top: 7%;
    padding-left: 17.5%;
}

#productos{
    padding-top: 7%;
}

#buscador input[type="search"]{
        margin-top: 5.5%;
        float: right;
        margin-right: 12%;
        width: 34%; /*ancho por defecto*/
        background: #ededed url('http://image.flaticon.com/icons/png/128/49/49116.png') no-repeat 9px center; /*icono lupa*/
        background-size: 15px 15px;
        padding: 9px 10px 9px 32px;
        border-radius: 15em;
        outline: none; /* ocultar el fucos automático de los input */
    }
}
@media screen and (max-width:703px) {
    #camionTexto span {
        font-size:0.9rem;
    }
    #buscador input {
        float: right;
        padding-right: 21%;
        margin-right: 15%;
        margin-top: 16%;
    }
    .linkIdentificar{
        font-family: Oswald-Light;
        color:white;
        margin-right: 15%;
    }
    
    .carritoCompra{
        margin-right: 2%;
    }
}

@media screen and (max-width:638px) {
    #camionTexto span {
        font-size:0.8rem;
    }
    .imgLogo {
        width: 88%;
        height: 67px;
        padding-top: 12%;
        padding-left: 11.5%;
    }
    #buscador input[type="search"]{
        margin-top: 7.5%;
        float: right;
        margin-right: 12%;
        width: 34%; /*ancho por defecto*/
        background: #ededed url('http://image.flaticon.com/icons/png/128/49/49116.png') no-repeat 9px center; /*icono lupa*/
        background-size: 15px 15px;
        padding: 9px 10px 9px 32px;
        border-radius: 15em;
    }
    #logoBusqueda{
        background-color: #008b55;
        width: 100%;
        height: 119px;
        max-width: 100%;
    }
    .linkIdentificar{
        font-family: Oswald-Light;
        color:white;
        margin-right: 15%;
    }
    
    .carritoCompra{
        margin-right: 2%;
    }
}

@media screen and (max-width:579px) {
    #menuIdentificarCarrito{
        width: 100%;
        max-width: 100%;        
    }
    
    #camionTexto{
        display:none;
    }
    
    #sesion{
        background-color: #005433;
        width: 100%;
        height: 40px;
        max-width: 100%;
    }
    
    #logoBusqueda{
        background-color: #008b55;
        width: 100%;
        height: 189px;
        max-width: 100%;
    }
    
    #logo{
        width: 100%;
        max-width:100%;
    }
    
    .imgLogo{
        height: 100px;
        padding-top: 4.5%;
        padding-left: 5.5%;
    }
    
    #buscador{
        width: 100%;
        max-width:100%;
    }
    
    #buscador input {
        padding-right: 30%;
        margin-right: 19%;
        margin-top: 4%;
    }
    
    #buscador input[type="search"]{
        margin-top: 2.5%;
        float: right;
        margin-right: 12%;
        width: 76%; /*ancho por defecto*/
        background: #FFF url('http://image.flaticon.com/icons/png/128/49/49116.png') no-repeat 9px center; /*icono lupa*/
        background-size: 15px 15px;
        color: #000;
        padding: 9px 10px 9px 32px;
        border-radius: 15em;
    }
    
    #productos {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-top: 13%;
        margin-bottom: 1%;
    }
    
    .productoIndividual{
        padding-bottom: 5%;
        padding-right: 0;
        margin: 0 auto;
        display: block;
    }
    
    .productoIndividual img{
        width: 200px;
    }
    
    .nombreProducto{
        font-size: 1.5rem;
    }

    .precioProducto{
        font-size: 2.9rem;
    }
    
    header label{
        display:block;
    }
    
    .menu{
        position:absolute;
        background-color: #005433;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    
    .menu ul{
        flex-direction:column;
    }
    
    .menu li{
        border-top:1px solid white;
    }
    
    .menu li a {
        display:block;
        padding:15px 28px;
        color:#fff;
        text-decoration: none;
    }
    
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    
    .menu2 li a{
        display:none;
    }
    
    .linkIdentificar{
        font-family: Oswald-Light;
        color:white;
        margin-right: 15%;
    }
    
    .carritoCompra{
        margin-right: 2%;
    }
    
    .contenidoCarrito{
        text-align: center;
        display: none;
        top: 40px; 
        width: 100%;  
        z-index: 1; 
        font-family: Oswald-Light;
        color:white;
        background-color: #005433; 
        overflow: hidden;
        position:absolute;
        left:0;
        
    }
    
    .loginUsuario{
        text-align: center;
        display: none;
        top: 40px; 
        width: 100%;  
        z-index: 1; 
        font-family: Oswald-Light;
        color:white;
        background-color: #005433; 
        overflow: hidden;
        position:absolute;
        left:0;
        
    }
    
    .galeria {
        width: 100%;
        height:100%;
        margin:0;
        margin-top:1.6%;
        overflow: hidden;
    }

    .galeria img{
        width: 100%;
        height: 200px;
    }

}

@media screen and (max-width:480px) {
    .linkIdentificar{
        font-family: Oswald-Light;
        color:white;
        margin-right: 15%;
    }
    
    .carritoCompra{
        margin-right: 2%;
    }
    
    #productos {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-top:0;
        margin-bottom: 1%;
    }
    
    .productoIndividual{
        padding-bottom: 5%;
        padding-right: 0;
        display: block;
    }
    
    footer span, #uno, #dos, #tres, #cuatro {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/sprite.png);
    background-size: 51px 210px;
    background-repeat: no-repeat;
}
}

@font-face{
	font-family: 'Lemon-Regular';
	src:url(../fonts/Lemon-Regular.ttf);
}
@font-face{
	font-family: 'Oswald-Light';
	src:url(../fonts/Oswald-Light.ttf);
}
@font-face{
	font-family: 'Oswald-Regular';
	src:url(../fonts/Oswald-Regular.ttf);
}
